{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="{{ asset('js/select2-init.js') }}"></script>
    <h1>Créer une tâche</h1>
<div class="container mt-5">
    <h1 class="mb-4">Créer une tâche</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.creation_date) }}
            {{ form_widget(form.creation_date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.creation_date) }}
        </div>
        <div class="form-group">
            {{ form_label(form.priority) }}
            {{ form_widget(form.priority, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.priority) }}
        </div>
        <div class="form-group">
            {{ form_label(form.finished) }}
            {{ form_widget(form.finished, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.finished) }}
        </div>
        <div class="form-group">
            {{ form_label(form.due_date) }}
            {{ form_widget(form.due_date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.due_date) }}
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
