{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <h1>Créer une tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.creation_date) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.finished) }}
        {{ form_row(form.due_date) }}

        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
