{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="{{ asset('js/select2-init.js') }}"></script>
    <h1>Créer une tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.creation_date) }}
        {{ form_row(form.priority) }}
        {{ form_row(form.finished) }}
        {{ form_row(form.due_date) }}

        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
