{# templates/task/detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la tâche "{{ task.title }}"{% endblock %}

{% block body %}
    <div class="container">
        <h1>
{#            Détails de la tâche "#}
            {{ task.title }}
{#            "#}
        </h1>

        <div class="task-detail {{ task.priority|lower }}">
            <p>
{#                Description :#}
                {{ task.description }}
            </p>
            <p>
                Date de création :
                {{ task.creationDate ? task.creationDate|date('d/m/Y') : 'Non spécifiée' }}
            </p>
            <p>
                Échéance :
                {{ task.dueDate ? task.dueDate|date('d/m/Y') : 'Non spécifiée' }}
            </p>
            <p>
                Priorité :
                {{ task.priority }}
            </p>
            <p>
                Statut :
                {% if task.finished %} Terminée {% else %} En cours {% endif %}
            </p>
        </div>
        {% if app.user == task.taskList.owner %}
            <a href="{{ path('task_modifier', {'id': task.id}) }}" class="btn btn-primary">Modifier la tâche</a>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .task-detail {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            color: white;
        }

        .rouge {
            background-color: red;
        }

        .orange {
            background-color: orange;
        }

        .verte {
            background-color: green;
        }

        .gris {
            background-color: grey;
        }
    </style>
{% endblock %}
