{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Modifier la tâche</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group">
                {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.dueDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.dueDate, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.priority, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.priority, {'attr': {'class': 'form-control'}}) }}
            </div>
            {# <div class="form-group">
                {{ form_label(form.assignee, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.assignee, {'attr': {'class': 'form-control'}}) }}
            </div> #}
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
