{# templates/task/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la liste "{% if task_list is defined %}{{ task_list.title }}{% endif %}"{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mb-4">
            {% if task_list is defined %}
                {% if app.user == task_list.owner %}
                    <a href="{{ path('app_task_list_edit', {'id': task_list.id}) }}" class="icon-link">
                        <img src="{{ asset('image/crayon.png') }}" alt="modifier liste" class="icon">
                    </a>
                {% endif %}
                {{ task_list.title }}
            {% else %}
                Détails de la liste non disponibles
            {% endif %}
        </h1>
        
        
        {% if task_list is defined %}
            <div class="card">
                <div class="card-body">
{#                    <h5 class="card-title">Description</h5>#}
                    <p class="card-text">{{ task_list.description }}</p>
                </div>
            </div>
        {% else %}
            <p>La liste de tâches n'existe pas ou n'est pas définie.</p>
        {% endif %}
        
        <div class="list-group mt-4">
            {% if tasks is not empty %}
                {% for task in tasks %}
                    <a href="{{ path('task_detail', {'id': task.id}) }}"
                       class="list-group-item list-group-item-action {{ task.priority|lower }}">
                        <h5 class="mb-1">{{ task.title }}</h5>
                        <p class="mb-1">{{ task.description }}</p>
                        {% if task.assignees is defined and task.assignees|length > 0 %}
                            <small>Responsable: {{ task.getAssigneesUsernames() }}</small>
                        {% endif %}
                    </a>
                {% endfor %}
            {% else %}
                <div class="list-group-item">
                    <p>Aucune tâche disponible.</p>
                </div>
            {% endif %}
        </div>

        <style>
            .list-group-item {
                background-color: #f0f0f0;
            }

            .rouge {
                background-color: #ffdddd;
            }

            .orange {
                background-color: #ffe5b4;
            }

            .jaune {
                background-color: #ddffdd;
            }

            h1 {
                text-align: center;
            }

            .icon {
                height: 20px;
                width: auto;
                vertical-align: middle;
                margin-left: 10px;
            }

            .icon-link {
                text-decoration: none;
                color: inherit;
            }

            .card-text, .card-title {
                text-align: center;
            }
        </style>
    </div>
{% endblock %}
