{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Liste de tâches</h1>

        <div class="list-group">
            {% for task in tasks %}
                <div class="list-group-item list-group-item-action {{ task.priority|lower }}">
                    <h5 class="mb-1">{{ task.title }}</h5>
                    <p class="mb-1">{{ task.description }}</p>
                    {% if task.priority != "" %}
                        <small>Priorité: {{ task.priority }}</small><br>
                    {% endif %}
                    {% if task.assignees.count>0 %}
                        <small>Responsable: {{ task.getAssigneesUsernames() }}</small>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <style>
            .list-group-item { background-color: #f0f0f0; }
            .rouge { background-color: #ffdddd; }
            .orange { background-color: #ffe5b4; }
            .jaune{ background-color: #ddffdd; }
        </style>
    </div>
{% endblock %}
