{# templates/task/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la liste "{% if task_list is defined %}{{ task_list.title }}{% endif %}"{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mb-4">
            {% if task_list is defined %}
                {% if task_list.owner == app.user %}
                    <a href="{{ path('app_task_list_edit', {'id': task_list.id}) }}" class="icon-link">
                        <img src="{{ asset('image/crayon.png') }}" alt="modifier liste" class="icon">
                    </a>
                    <a href="{{ path('app_task_list_share', {'id': task_list.id}) }}" class="icon-link">
                        <img src="{{ asset('image/partager.png') }}" alt="partager la liste" class="icon">
                    </a>
                {% endif %}
                {{ task_list.title }}
            {% else %}
                Détails de la liste non disponibles
            {% endif %}
        </h1>

        <h2 class="my-4">Liste de tâches</h2>
        {% if tasks is empty %}
            <div class="alert alert-info" role="alert">
                Aucune tâche pour l'instant.
            </div>
        {% else %}
            <div class="list-group">
                {% for task in tasks %}
                    {% if task.tasklist.owner == app.user or task.assignees|length == 0 or app.user in task.assignees %}
                        <div class="list-group-item d-flex align-items-center mb-3 {% if task.finished %}finished{% else %}{{ task.priority|lower }}{% endif %}">
                            <form action="{{ path('task_toggle_finished', {'id': task.id}) }}" method="post" class="mr-3">
                                <input type="checkbox" name="finished"
                                   {% if task.finished %}checked{% endif %}
                                   onchange="this.form.submit()"
                                >
                            </form>
                            <a href="{{ path('task_detail', {'id': task.id}) }}" class="flex-grow-1">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-1">{{ task.title }}</h5>
                                    <small class="priority">Priorité: {{ task.priority }}</small>
                                </div>
                                <p class="mb-1">{{ task.description }}</p>
                                {% if task.assignees is defined and task.assignees|length > 0 %}
                                    <small>Responsable: {{ task.getAssigneesUsernames() }}</small>
                                {% endif %}
                            </a>
                            {{ include('task/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <style>
            .list-group-item {
                background-color: #f0f0f0;
                border-radius: 10px;
            }

            .rouge {
                background-color: #ffdddd;
            }

            .orange {
                background-color: #ffe5b4;
            }

            .jaune {
                background-color: #ddffdd;
            }

            h1, h2 {
                text-align: center;
            }

            .icon {
                height: 20px;
                width: auto;
                vertical-align: middle;
                margin-left: 10px;
            }

            .icon-link {
                text-decoration: none;
                color: inherit;
            }

            .card-text, .card-title {
                text-align: center;
            }

            .finished {
                background-color: #b0b0b0;
                text-decoration: line-through;
            }

            a {
                text-decoration: none;
                color: #4D4D4D;
            }

            a:hover {
                text-decoration: none;
                color: #4D4D4D;
            }

            .priority {
                align-self: flex-start;
            }
        </style>
    </div>
{% endblock %}
