{# templates/task/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de la liste "{% if task_list is defined %}{{ task_list.title }}{% endif %}"{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mb-4">
            {% if task_list is defined %}
                {% if app.user == task_list.owner %}
                    <a href="{{ path('app_task_list_edit', {'id': task_list.id}) }}" class="icon-link">
                        <img src="{{ asset('image/crayon.png') }}" alt="modifier liste" class="icon">
                    </a>
                    <a href="{{ path('app_task_list_share', {'id': task_list.id}) }}" class="icon-link">
                        <img src="{{ asset('image/partager.png') }}" alt="partager la liste" class="icon">
                    </a>
                {% endif %}
                {{ task_list.title }}
            {% else %}
                Détails de la liste non disponibles
            {% endif %}
        </h1>

        <h2 class="my-4">Liste de tâches</h2>
        {% if tasks is empty %}
            <div class="alert alert-info" role="alert">
                Aucune tâche pour l'instant.
            </div>
        {% else %}
            <div class="list-group">
                {% for task in tasks %}
                    <a href="{{ path('task_detail', {'id': task.id}) }}">
                    <div class="list-group-item list-group-item-action mb-3 {{ task.priority|lower }}">
                        <h5 class="mb-1">{{ task.title }}</h5>
                        <p class="mb-1">{{ task.description }}</p>
                        <small>Priorité: {{ task.priority }}</small><br>
                        {% if task.assignees is defined and task.assignees|length > 0 %}
                            <small>Responsable: {{ task.getAssigneesUsernames() }}</small>
                        {% endif %}
                        {{ include('task/_delete_form.html.twig') }}
                    </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <style>
            .list-group-item {
                background-color: #f0f0f0;
                border-radius:50px;
            }

            .rouge {
                background-color: #ffdddd;
            }

            .orange {
                background-color: #ffe5b4;
            }

            .jaune {
                background-color: #ddffdd;
            }

            h1, h2 {
                text-align: center;
            }

            .icon {
                height: 20px;
                width: auto;
                vertical-align: middle;
                margin-left: 10px;
            }

            .icon-link {
                text-decoration: none;
                color: inherit;
            }

            .card-text, .card-title {
                text-align: center;
            }
        </style>
    </div>
{#    {% include 'footer.html.twig' %}#}
{% endblock %}
