{% extends 'base.html.twig' %}

{% block title %}Liste Listes{% endblock %}

{% block body %}
    <h1>Liste des Listes</h1>

    {# Formulaire de filtrage des tâches (optionnel) #}
    {# {{ form_start(filterForm) }}
       {{ form_widget(filterForm) }}
       {{ form_end(filterForm) }} #}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for task_list in listes %}
                <tr>
                    <td><a href="{{ path('task_list_all', {'id': task_list.id}) }}">{{ task_list.id }}</a></td>
                    <td><a href="{{ path('task_list_all', {'id': task_list.id}) }}">{{ task_list.title }}</a></td>
                    <td><a href="{{ path('task_list_all', {'id': task_list.id}) }}">{{ task_list.description }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
