<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-item">
                <a href="{{ path('task_list_mein') }}">
                    <img src="{{ asset('image/créerliste.png') }}" alt="Mes listes" class="footer-icon">
                    <p>Mes tâches</p>
                </a>
            </div>
            <div class="footer-item">
                <a href="{{ path('task_creer') }}">
                    <img src="{{ asset('image/bouton plus.png') }}" alt="Ajouter une liste" class="footer-icon">
                    <p>Ajouter une tâche</p>
                </a>
            </div>
            <div class="footer-item">
                <a href="{{ path('task_list_all') }}">
                    <img src="{{ asset('image/collab.png') }}" alt="Liste partagées" class="footer-icon">
                    <p>Toutes les tâches</p>
                </a>
            </div>
        </div>
    </div>
</footer>
