{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Mon compte</h1>
                    <form method="post" action="{{ path('app_profile_edit', {'id': user.id}) }}">
                        <div class="form-group text-center">
                            <img src="{{ asset('path/to/profile_image.jpg') }}" alt="Profile Image" class="img-fluid rounded-circle mb-3" width="100" height="100">
                            <a href="#">Edit profile image</a>
{#                            <a href="{{ path('profile_edit_image') }}">Edit profile image</a>#}
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" value="{{ user.pseudo }}" name="username" id="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" value="{{ user.email }}" name="email" id="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="currentPassword">Mdp actuel</label>
                            <input type="password" name="currentPassword" id="currentPassword" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">Nouveau mdp</label>
                            <input type="password" name="newPassword" id="newPassword" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirmation mdp</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
